In [1]:
import numpy as np 
import pandas as pd

In [2]:
train = pd.read_csv(r"C:\Users\M1050678\Downloads\train_ty\train.csv",index_col="id",low_memory=False,parse_dates=["project_submitted_datetime"])

In [3]:
print("shape:",train.shape)

shape: (182080, 15)

In [4]:
index = train.index

In [5]:
target = train["project_is_approved"].copy()

In [6]:
train.drop(["project_is_approved","teacher_id"],inplace = True , axis =1)

In [7]:
train.head(5)

,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects
id,,,,,,,,,,,,,
p036502,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26
p039565,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1
p233823,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5
p185307,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16
p013780,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42

In [8]:
train['text'] = train.apply(lambda row: ' '.join([str(row['project_essay_1']), str(row['project_essay_2']), str(row['project_essay_3']), str(row['project_essay_4']),str(row['project_resource_summary']),str(row['project_title']),]), axis=1)

In [9]:
text= train['text']

In [10]:
train["Year"] = train["project_submitted_datetime"].dt.year
train["Day of Year"] = train['project_submitted_datetime'].dt.dayofyear
train["Weekday"] = train['project_submitted_datetime'].dt.weekday
train["Day of Month"] = train['project_submitted_datetime'].dt.day

In [11]:
train = pd.get_dummies(train, columns=['Weekday','Day of Month','Year','Day of Year','teacher_prefix','school_state','project_grade_category'],sparse=True)

In [12]:
train.drop(['project_essay_1','project_essay_2','project_essay_3','project_essay_4','project_subject_categories',"project_subject_subcategories","project_resource_summary","project_title","project_submitted_datetime"],axis=1,inplace=True)

In [13]:
train.drop('text', axis=1, inplace=True)

In [14]:
train.head(5)

,teacher_number_of_previously_posted_projects,Weekday_0,Weekday_1,Weekday_2,Weekday_3,Weekday_4,Weekday_5,Weekday_6,Day of Month_1,Day of Month_2,...,school_state_VA,school_state_VT,school_state_WA,school_state_WI,school_state_WV,school_state_WY,project_grade_category_Grades 3-5,project_grade_category_Grades 6-8,project_grade_category_Grades 9-12,project_grade_category_Grades PreK-2
id,,,,,,,,,,,,,,,,,,,,,
p036502,26,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
p039565,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
p233823,5,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,0,0,0
p185307,16,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
p013780,42,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [15]:
new_index = train.index

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack, csr_matrix

In [17]:
word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    ngram_range=(1,1),
    dtype=np.float32,
    max_features=5000
)

In [18]:
word_vectorizer.fit(text[index])

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float32'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=5000, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents='unicode', sublinear_tf=True,
        token_pattern='\\w{1,}', tokenizer=None, use_idf=True,
        vocabulary=None)

In [19]:
train_word_features = word_vectorizer.transform(text[index])

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
stdscalar = StandardScaler()

In [22]:
teacher_number_of_previously_posted_projects = train['teacher_number_of_previously_posted_projects']

In [23]:
teacher_number_of_previously_posted_projects.shape

(182080,)

In [24]:
scaled = stdscalar.fit_transform(teacher_number_of_previously_posted_projects.values.reshape(-1,1))

C:\Users\M1050678\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\M1050678\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [25]:
scaled.shape

(182080, 1)

In [26]:
train.drop(['teacher_number_of_previously_posted_projects'],inplace  = True,axis=1)

In [27]:
#ntrain = pd.DataFrame(stdscalar.fit_transform(train),columns=train.columns).set_index(new_index)

In [28]:
train_features = hstack([train_word_features,csr_matrix(train.loc[index,]),csr_matrix(scaled)], 'csr')

In [29]:
train_features.shape

(182080, 5467)

In [30]:
test = pd.read_csv(r"C:\Users\M1050678\Downloads\test\test.csv",index_col="id",low_memory=False,parse_dates=["project_submitted_datetime"])

In [31]:
testindex = test.index

In [32]:
test.head(5)

,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects
id,,,,,,,,,,,,,,
p233245,5724a0c3ce11008366fff36dab4b943c,Ms.,CA,2016-04-27 13:45:41,Grades PreK-2,Music & The Arts,Visual Arts,Art Will Make You Happy!,My 2nd grade students are amazing! They are v...,My class is made up of 12 boys and 12 girls. ...,My second grade class will really benefit from...,The genorous donations to my project will make...,My students need a drying rack for their art p...,2
p096795,445619941dc7cbe81c7be109dc61a56a,Mrs.,SC,2016-04-28 12:43:56,Grades 3-5,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Keeping up with the TIMEs,Students within the classroom work in small gr...,My students are all very talented young indivi...,"We do a lot of small group, where the student ...",This project is very important to my classroom...,My students need Time Magazines for next year ...,1
p236235,e92a4902b1611a189643d6f12c51e6a0,Mrs.,SC,2016-04-29 21:16:05,Grades PreK-2,Math & Science,"Applied Sciences, Mathematics",Building Bridges to Problem Solving,My students share a love of learning. These s...,My class consists of 14 energetic learners. O...,These Fairy Tale Problem Solving STEM kits wil...,These materials will be help my students with ...,My students need to be mentally stimulated to ...,0
p233680,8e92622d2985d3faac1de71609c4be72,Mrs.,IA,2016-04-27 22:32:43,Grades PreK-2,Literacy & Language,Literacy,Classroom Library,Reading is the gateway to the soul. Guiding c...,First graders enter the classroom each day rea...,Book bins will help to organize our classroom ...,"When students begin the first grade, many are ...",My students need an organized classroom library.,0
p171879,91a3c89981f626d9a0d067c65fb186ce,Mr.,CA,2016-04-27 18:59:15,Grades 6-8,"Music & The Arts, Special Needs","Performing Arts, Special Needs",Reeds so we can Read,"\""Mr. Reyes! I need another reed!\"" I hear t...",We have a diverse population with almost entir...,Each day in my class students consume supplies...,My students come from very troubled homes and ...,My students need reeds to perform in class eac...,1

In [33]:
test.shape

(78035, 14)

In [34]:
test.drop(["teacher_id"],inplace = True , axis =1)

In [35]:
test['text'] = test.apply(lambda row: ' '.join([str(row['project_essay_1']), str(row['project_essay_2']), str(row['project_essay_3']), str(row['project_essay_4']),str(row['project_resource_summary']),str(row['project_title']),]), axis=1)

In [36]:
test['text'].shape

(78035,)

In [37]:
test["Year"] = test["project_submitted_datetime"].dt.year
test["Day of Year"] = test['project_submitted_datetime'].dt.dayofyear
test["Weekday"] = test['project_submitted_datetime'].dt.weekday
test["Day of Month"] = test['project_submitted_datetime'].dt.day

In [38]:
test = pd.get_dummies(test, columns=['Weekday','Day of Month','Year','Day of Year','teacher_prefix','school_state','project_grade_category'],sparse=True)

In [39]:
test.drop(['project_essay_1','project_essay_2','project_essay_3','project_essay_4','project_subject_categories',"project_subject_subcategories","project_resource_summary","project_title","project_submitted_datetime"],axis=1,inplace=True)

In [40]:
text = test['text']

In [41]:
text.shape

(78035,)

In [42]:
test.drop('text', axis=1, inplace=True)

In [43]:
text.dtype

dtype('O')

In [44]:
text_new = text.values.astype('U')

In [45]:
test_word_features = word_vectorizer.transform(text[testindex])

In [46]:
teacher_number_of_previously_posted_projects = test['teacher_number_of_previously_posted_projects']

In [47]:
scaled = stdscalar.fit_transform(teacher_number_of_previously_posted_projects.values.reshape(-1,1))

C:\Users\M1050678\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\M1050678\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [48]:
test.drop(['teacher_number_of_previously_posted_projects'],inplace  = True,axis=1)

In [49]:
#ntest = pd.DataFrame(stdscalar.transform(test),columns=test.columns).set_index(new_index)

In [50]:
test.shape

(78035, 466)

In [51]:
test_word_features.shape

(78035, 5000)

In [52]:
test_features = hstack([test_word_features,csr_matrix(test.loc[testindex,]),csr_matrix(scaled)], 'csr')

In [53]:
loss = []

In [54]:
from sklearn.linear_model import LogisticRegression

In [55]:
logisticregression = LogisticRegression(solver="sag", max_iter=200)

In [56]:
logisticregression.fit(train_features,target)

C:\Users\M1050678\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=200, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='sag',
          tol=0.0001, verbose=0, warm_start=False)

In [57]:
df = pd.DataFrame(logisticregression.predict_proba(test_features)[:, 1],columns=["project_is_approved"],index=testindex)
df.to_csv("result.csv",index=True)